.body{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 5px solid;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* position: relative; */
}
.hour{
    height: 15%;
    width: 14px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    transform-origin: bottom;
    top: 170px;
    left: 250px;
}
.minute{
    height: 20%;
    width: 10px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    transform-origin: bottom;
    top: 143px;
    left: 260px;
}
.second{
    height: 30%;
    width: 5px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    transform-origin: bottom;
    top: 83px;
    left: 260px;
}